.create-event {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create-event form {
    display: flex;
    flex-direction: column;
    width: 25rem;
}
.create-event label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: unset;
}
.create-event input {
    width: 60%;
}
