
.Main {
    display: inline-block;
    width: 90%;
    margin-right: 0.5%;
    height: 88%;
    margin-left: 0.5%;
  }
 h1{
     text-align: center;
     color: #234456;
     text-decoration: underline;
     margin-bottom: 2%;
 }